#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
    background: linear-gradient(45deg, rgb(109, 208, 242) 15%, rgb(245, 154, 190) 85%);
    color: white;
}
#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color:  rgb(109, 208, 242)
}
#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel {
    background: linear-gradient(45deg, rgb(109, 208, 242) 15%, rgb(245, 154, 190) 85%);
    color: white;
}
#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel:after {
    border-right-color:  rgb(109, 208, 242)
}
#artitalk_main .at_button {
    background: linear-gradient(45deg, rgb(109, 208, 242) 15%, rgb(245, 154, 190) 85%);
    color: white;
}